:root {
	--carrot: #e67e22;
}

.carrot {
	color: var(--carrot);
}

.cursor-pointer {
	cursor: pointer;
}

.link-spanner {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 1;
}
